.btn-upload-avatar {
    display: inline-block;
}

.input-upload-avatar + label {
    font-size: 1.25em;
    display: inline-block;
	cursor: pointer;
}

.input-upload-avatar:focus + label,
.input-upload-avatar + label:hover {

}

.input-upload-avatar {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
